.dropdown {
    position: relative;
    display: inline-block;
}


.dropdown:hover .dropdown-content {
    display: block;
}


.dropdown-content {
    background-color: #f1f1f1;
    border-radius: 6px;
    font-size: 12px;
    display: none;
    min-width: 70px;
    padding-bottom: 5px;
    padding-top: 5px;
    position: absolute;
    width: fit-content;
    z-index: 1;
    margin-top: 20px;
    margin-left: -7px;
}
.dropdown-content a {
    color: #000;
    padding: 2px 15px;
    text-decoration: none;
    background-color: #f5f5f4;
    display: block;
}
.dropdown-content a:hover {
    background-color: #116cd6;
    color: #fff;
}
.fit {
    height: inherit;
}

.node {
    cursor: pointer;
}


.node text {
    font: 12px sans-serif;
}
.link {
    fill: none;
    stroke: silver;
    stroke-width: 1px;
}
.pxpx{
    padding: 30px;
}
div.tooltip {
    position: absolute;
    background: #f5fcfa;
    border: 1px solid #dcdde1;
    border-radius: 0;
    font: 10px sans-serif;
    max-width: 200px;
    max-height: 500px;
    padding: 7px 15px;
    /*z-index: 10000000;*/
    pointer-events: none;
    text-align: left;
}
.sc-grid {
    overflow: scroll;
    height: 100%;
    background: red;
}
.deleted_belief {
    background: #fdd49a;
}
.normalised-text {
    text-transform: none !important;
    word-wrap: break-word;
}
.info-bar {
    border-bottom: 1px solid #000;
}
.enlarged-node {
    width: 200px !important;
    height: 200px !important;
}



.headerbar {
    min-height: 10vh;
    max-height: 10vh;
    padding: 10px;
    background-color: lightseagreen;
}

.contentbar {
    min-height: 90vh;
    max-height: 90vh;
    padding: 10px;
}


.headerbar_b {
    min-height: 20vh;
    max-height: 20vh;
    padding: 10px;
    background-color: lightseagreen;
}

.contentbar_b {
    min-height: 80vh;
    max-height: 80vh;
    padding: 10px;
}



.padded {
    margin-top: 15px;
    padding-top: 15px;
  }
  .bordered{
    border: 1px solid orange;
    margin: 10px;
    padding: 10px;
  }
 

  .fit {
    height: 80vh;
  }

.scroll-without-fit{
    overflow: -moz-scrollbars-vertical;
    overflow-y: scroll;
  }
  .show {
    display: block !important;
  }
  .hidden {
    display: none !important;
    visibility: hidden !important;
  }
  .right-padded {
    margin-right: 40px;
  }

  .rfloat {
      float: right;
  }

  .rgap {
      padding-right: 50px;
  }

  .lgap {
      padding-left: 50px;
  }
  .wide-ta {
    min-width: 100%;
    min-height: 200px;
  }

  .fit-and-scroll {
    width: inherit;
    height: inherit !important;
    overflow: -moz-scrollbars-vertical;
    overflow-x: scroll;
    overflow-y: scroll;
    padding: 20px 20px 20px 20px;
  }

  .left_bordered {
      border-right: 1px solid lightgray
  }

  .searchbar {
    padding-bottom: 5px;
  
  }

  .list_item {
      border-bottom: 1px solid lightgray;
      background-color: aliceblue;
      padding-left: 10px;
      padding-top: 5px;
  }

  .page{
      padding-top: 100px;
      padding-left: 25%;
      
    }

    .page_b{
        padding-top: 100px;
        padding-left: 20%;
        
      }

      .page_c{
        padding-top: 100px;
        padding-left: 20%;
        max-width:  60%;
        
      }

    .page_d {
        padding-top: 10px;
        padding-left: 5%;
        max-width: 90%;
    } 
    .centred {
        text-align: center;
    }

    .red {
        color: red;
    }